html {
  scroll-behavior: smooth;
}

body {
  background-color: #e2e2e2;
  color: #3a3a3a;
  width: 100%;
  min-width: 1500px;
}

/* ANCHOR About me */

#aboutme {
  display: flex;
  background-image: url("./images/yosemite.jpg");

  min-height: 100vh;
  
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#aboutme-text {
  width: 30rem;
  margin: auto auto auto 2rem;
  color: black;
  background-color: #e2e2e2de;
  padding: 0 2rem 2rem 2rem;
}

.MuiAvatar-root {
  margin: auto 0 auto auto;
}
/* mobile compatibilty*/
/* @media (max-width: 812px) {
  #aboutme {
    display: grid;
  }
  
  #aboutme-text {
    width: 80%;
    margin:0 auto auto auto;
  }

  .MuiAvatar-root {
    margin: auto auto 0 auto;
  }
} */

/* ANCHOR Project List */

#header {
  text-align: center;
  font-size: 3rem;
  line-height: 10rem;
  height: 10rem;
  background-color: #c2c2c2;
  letter-spacing: 5px;
  box-shadow: 0 0 10px;
  border: 1px solid #bbbbbb;
  z-index: 1;
}

#projects {
  display: flex;
  background-image: url("./images/canyon.jpg");

  min-height: 100vh;
  
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.MuiList-root {
  width: 300px;
  background-color: #d1d1d1;
  height: 100vh;
  color: black;
  opacity: 0.92;
  transition: 0.5s;
  overflow: hidden;
}

.MuiList-root .MuiIcon-root {
  padding: 10px;
}


.projectContainer {
  width: 300px;
}

.projectContainer .MuiListItem-root {
  padding-right: 20px;
}

#dropdown {
  color: black;
  background-color: #2b8eff;
  position: absolute;
  left: 280px;
  margin-top: 50vh;
  z-index: 1;
  box-shadow: 0 0 3px;
  transition: 0.5s;
  width: 40px;
  height: 40px;
}

#project-img-preview {
  display: inline-block;
  height: 35vw;
  width: 35vw;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 0 10px;
  margin: auto 2rem auto auto;

}

#project-desc {
  display: inline-block;
  width: 35vw;
  height: 35vw;
  margin: auto auto auto 0;
  background-color: #f7f7f7;
  border-radius: 20px;
  box-shadow: 0 0 10px;
  white-space: pre-line;
}

#project-desc .MuiCardActions-root {
  padding: 0 0 0 10px;
  margin: 0;
}

#project-desc .MuiIcon-root {
  font-size: 40px;
}

#dateline {
  font-style: italic;
  font-size: 20px;
}

/* ANCHOR Experience */
#experiences {
  display: inline-block;
  background-image: url("./images/goldengate.jpg");

  min-height: 100vh;
  width: 100%;
  
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.an-exp {
  display: inherit;
  width: 30%;
  height: 500px;
  margin: 5px 5px;
  background-color: #dadada;

}

.MuiCardMedia-root {
  background-color: #3a3a3a;
}

/* ANCHOR Contact */

#contact-blurb {
  font-size: 25px;
  letter-spacing: 0;
  display: block;
}

#contact-blurb .MuiIcon-root, #email, #github {
  display: inline-flex;
  
}

#email, #github {
  margin-right: 30px;
}

#contact-blurb .MuiIcon-root {
  font-size: 25px;
  padding-right: 5px;
}



